* {box-sizing: border-box}
body{
	overflow-y: hidden;
	margin: 0;
}
:root {
  --ratio: 9 / 16;
  --width: 100vmin;
  --height: calc(var(--width) * var(--ratio));
  --white: #ffffff;
}
@font-face{
    font-family: 'ACaslonPro';
    src: url('ACaslonPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#resultContainer {display: none}
/* Slide Layout */

#alertContainer1, #alertContainer2{
    width: 100vw; 
    height: 56.20vw; /* height:width ratio = 9/16 = .5625    126:75 */
    max-height: 100vh;
    max-width: 177.8vh; /* 16/9 = 1.778     */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    background-color: rgba(76, 76, 76, 0.8);
	z-index: 900;
	padding: 33vmin 57vmin;
}  
.alertBox{
    width: 100%;
    /* border: 1vmin solid #fff; */
	height: 34vmin;
    background: white;
	border-radius: 1vmin;
	box-shadow: -1px 1px 17px 2px rgba(0,0,0,0.75);
	position: relative;
}
.innerBox{
	width: 100%;
	height: 9vmin;
	background: #3991D8;
	border-radius: 1vmin 1vmin 0vmin 0vmin;
	color: #fff;
	font-size: 3.5vmin;
	text-align: center;
	padding: 2.6vmin;
	font-weight: bold;
}
.outerBox{
    width: 100%;
    height: 22vmin;
    margin-top: 2vmin;
	padding: 1vmin 7vmin;
	text-align: center;
}
.alertContent{
	width: 100%;
    height: 9vmin;
    margin-top: 2vmin;
	text-align: center;
	font-size: 3vmin;
}
.alertOkayButton{
	width: 10vmin; 
	height: 5vmin; 
	font-size: 2.5vmin; 
	cursor: pointer;
	position: absolute;
    left: 27vmin;
}
#okayButton{
	width: 9vmin;
}
#mainContainer{
    height: 100vmin;
    width: 100%;
    position: absolute;
    z-index: 70;
    left: 0vmin;
	border: 0.5vmin solid #4c4c4c;
    /* padding: 6vmin; */
	/* background: url('../images/1.jpg'); 
	background-repeat: no-repeat;
	background-size: cover; */

}
.hideDivs{
	display: none;
}

#navigation{
	background: linear-gradient(to right, rgba(247,148,148,1) 0%, rgba(218,84,84,1) 100%);
    position: absolute;
    right: 0vmin;
    /* top: 2vmin; */
    width: 143.7vmin;
	padding: 3vmin 6vmin 0vmin 30.5vmin;
	font-family: 'ACaslonPro';
}
#logoImage{
    position: absolute;
    /* top: 2vmin; */
    left: 0vmin;
    width: 34vmin;
    background: #fff;
       padding: 4vmin 2vmin;
    height: 13vmin;
}
#logoImage img{
	width: 30vmin;
/* 	margin-left: 2vmin; */
}


#topBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
      height: 10vmin;
 margin-left: -3vmin;
}

#topBar li {
	float: left;
	padding-right: 1vmin;
}

#topBar li a {
	display: block;
	color: white;
	text-align: center;
	border-radius: 1vmin 1vmin 0vmin 0vmin;
	text-decoration: none;
	font-size: 2.8vmin;
	width: 23vmin;     
}

.active {
	background-color: #4c4c4c;
	height: 10vmin;
	margin-top: 0vmin;
	padding: 3.7vmin 1vmin;
}

.inactive {
	background-color: #3991D8;
	cursor: default;
	margin-top: 3vmin;
	padding: 1.2vmin 1vmin;
}


#bottomBar{
	width: 100%;
    height: 8vmin;
    position: absolute;
    bottom: 0vmin;
	background: linear-gradient(to right, rgba(247,148,148,1) 0%, rgba(218,84,84,1) 100%);
}


.buttons{
	width: 15vmin;
  /*   background: #fff;
    border: 0.2vmin solid; */
    float: left;
    margin-right: 5vmin;
    cursor: pointer;
    margin-left: 3vmin;
    margin-top: 3vmin;
}
#next{
	float: right;
}
.centerContainer{
    /* border: 0.3vmin solid; */
    width: 100%;
    height: 77vmin;
    position: absolute;
    top: 13vmin;
	font-family: 'ACaslonPro';
	color: #15035e;
}

.detailsSection{
	position: absolute;
   /*  top: 23vmin;
    left: 51vmin; */
}
#headerDetails{
	width: 100%;
    background: #fff;
    font-size: 4.3vmin;
    border-radius: 0.5vmin;
    padding: 2vmin 2vmin 1vmin;
    margin-top: 0.5vmin;
    margin-left: 0vmin;
    font-weight: bold;
	background: #f4dff5;
}
#detailCenter{
	width: 100%;
    background: #fff;
    /* font-size: 3.5vmin; */
    border-radius: 0.5vmin;
    padding: 2.5vmin;
    margin-top: 0.6vmin;
    margin-left: 0vmin;
    height: 68vmin;
    position: relative;
}
.detailsLeft{
	position: absolute;
    font-size: 3.6vmin;
    top: 10vmin;
    left: 10vmin;
}
.detailsRight{
	position: absolute;
    font-size: 3.6vmin;
    top: 10vmin;
    right: 9vmin;
}
.detailsCenter{
	top: 25vmin;
    left: 60vmin;
	position: absolute;
    font-size: 3.6vmin;
}
.detailsInput{
    margin-left: 2vmin;
    height: 5vmin;
    width: 40vmin;
    font-size: 2.5vmin;
	margin-right: 2vmin;
}
.detailsBrowse{
	height: 5vmin;
    width: 35vmin;
	font-size: 2.5vmin;
}
.detailImage{
    width: 20.5vmin;
    height: 20vmin;
    border: 0.3vmin solid;
    position: absolute;
    top: -7vmin;
    left: 58vmin;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


#chapterList{
	font-size: 2.8vmin;
    border-bottom: 0.2vmin solid #6d0019;
    padding: 1vmin;
    margin-bottom: 1vmin;
	
}

.selectChapters{
	width: 100%;
	/* overflow-y: scroll; */
    height: 62vmin;
}

.checkBoxes{
	cursor: pointer;
}
.checkBoxes:hover::before {
  border: 3px solid #207ce5;
}

.numberofDivsStyle{
	/* border: 1px solid blue; */
    width: 110vmin;
	margin-bottom: 6vmin;
	font-size: 2.8vmin;
    /* height: 20vmin; */
	/* display: none; */
}
#displayQuestions{
	position: absolute;
    top: 2vmin;
    width: 143vmin;
    /* left: 63vmin; */
    overflow-y: scroll;
    height: 65vmin;
	display: none;
}

#questionButton, #copyButton{
	position: absolute;
    float: right;
    top: -3vmin;
    right: -22vmin;
    height: 5vmin;
}
#AddButton{
	position: absolute;
    top: -1vmin;
    right: 0vmin;
}
#questionContent{
	/* border: 1px solid; */
}
.listcheckBoxes, .headercheckBoxes{
	position: absolute;
    left: 4vmin;
}
.headercheckBoxes{
	position: absolute;
    left: 0vmin;
}
.listStyle{
	margin-bottom: 2vmin;
	margin-left: 5vmin;
}
.headerStyle{
	margin-left: 4vmin;
}
.questImages{
	width: 70vmin;
}
.totalMark{
    width: 6vmin;
    border: 0.2vmin solid;
    height: 6vmin;
    position: absolute;
   /*  margin-top: -4vmin; */
    right: 3vmin;
	text-align: center;
}

.previewTest{
	border: 1px solid;
	width: 30vmin;
	height: 40vmin;
}
.showQuestionStyle{
	width: 117.4vmin;
	    padding: 6vmin 3vmin 0vmin 3vmin;
	/* border: 1px solid; */
}
#printContent{
	border: 1px solid;
	width: 72%;
	height: 68vmin;
	position: absolute;
    top: 0vmin;
    left: 24vmin;
	overflow-y: scroll;
	font-size: 2.8vmin;
	padding-bottom: 3vmin;
	color: #000;
}
#showCopyMode, #showMode{
	position: absolute;
    top: -7.1vmin;
    height: 5vmin;
    right: 20vmin;
}
#copyMode, #questionMode{
    height: 5vmin;
    width: 36vmin;
    font-size: 2.4vmin;
}

input[type='checkbox']{
	width: 2vmin;
    height: 2vmin;
}
ol{
	margin-block-start: 0vmin;
    margin-block-end: 0vmin;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 7vmin;
}
li{
	margin-bottom: 1vmin;
	margin-top: 2vmin;
}
#selectAllContainer{
    position: absolute;
    top: -6.5vmin;
    right: 7vmin;
	font-size: 3vmin;
}
#printButton{
	float: right;
}
#printButton img{
	width: 15vmin;
}
.hideAnswers, .hidePreviewAnswers{
	display: none;
}
#hideNext, #hideBack{
	width: 10vmin;
    height: 9vmin;
    /* border: 1px solid; */
	position: absolute;
    bottom: 0vmin;
    right: 6vmin;
}
#hideBack{
	left: 6vmin;
}
#hideQuestion{
	width: 21vmin;
    height: 6vmin;
   /*  border: 1px solid; */
    position: absolute;
    top: 23vmin;
    right: 1vmin;
}
.alertYesButton, .alertNoButton{
    position: absolute;
   left: 16vmin;	
}
.alertNoButton{
    left: 41vmin;
}
.YesNoButton{
	width: 9vmin;
}
#totalNoofQuestions, #totalMarksforEachQuestion{
	position: absolute;
    top: 2.2vmin;
    font-size: 3.3vmin;
    left: 39vmin;
	color: #fff;
}
#totalMarksforEachQuestion{
	left: 111vmin;
}